@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-white dark:bg-gray-950;
}

p {
  @apply font-sans text-base font-normal tracking-normal leading-7 m-0;
}

/* container */

/* sign in */

@layer components {
  .signIn-content {
    @apply flex items-center sm:justify-center
    gap-2 md:h-24 h-20 w-full bg-white border-2 rounded-full transition  peer-checked:border-primary peer-checked:shadow-lg peer-checked:-translate-y-1;
  }

  .signIn-check {
    @apply absolute top-4 left-[-15] right-10 -translate-y-1/2 -mt-1 h-10 w-10 p-0.5 rounded-full transition peer-checked:scale-100;
  }
}

/* animation css Hero Page  */
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(4px, 4px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

/* Activity */

/* swipers css .slider-container {
  display: flex;
  align-items: center;
  width: 85%;
}

.slider {
  overflow: auto;
}

.slider-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: transform 0.1s ease;
} */

/* sign in Swipper */

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  max-width: 100%;
}

/* swipper */
.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5); /* Background color */
  border-radius: 50%; /* Make it circular */
  color: white; /* Icon color */
  font-size: 24px; /* Icon size */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Hover background color */
}
